OIDC_PROVIDER_METADATA_URL=http://keycloak:8080/realms/oidcproxy/.well-known/openid-configuration
OIDC_CLIENT_ID=Proxy
OIDC_CLIENT_SECRET=dev-proxy-secret-change-me
OIDC_PROVIDER_TOKEN_ENDPOINT_AUTH=client_secret_basic
OIDC_REMOTE_USER_CLAIM=preferred_username
OIDC_SCOPE=openid email profile
OIDC_CRYPTO_PASSPHRASE=dev-passphrase-change-me
OIDC_COOKIE_DOMAIN=127.0.0.1.nip.io
OIDC_DEFAULT_LOGOUT_URL=https://logout.127.0.0.1.nip.io:8443/help?text=Logout%20successful!
OIDC_REDIRECT_PATH=/protected
APACHE_SERVER_NAME=localhost
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1
REDIS_PASSWORD=
GEOIP_ALLOW_COUNTRIES=|DE
INTERNAL_NETWORKS=10.0.0.0/8,192.168.0.0/16
TOC_TITLE=OIDC Proxy Demo
KEYCLOAK_IMAGE=quay.io/keycloak/keycloak:26.1
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=oidcproxy
KEYCLOAK_HOST=keycloak.127.0.0.1.nip.io
PROXY_HTTP_PORT=8080
PROXY_HTTPS_PORT=8443
